<!DOCTYPE html>

<body>
    <ul>
        <li><a href="/product/api/">Home</a></li>
    
     <li><a href="/product/api/createProduct">Create product </a></li>
    <li><a href="/product/api/product">Product</a></li>
</ul>

</body>
</html>