doctype html 
html 
    body 
        ul 
            li 
                a(href="/product/api") Home 
            li 
                a(href="/product/api/product") Product  

            li 
                a(href="/product/api/createProduct") Create product         
