<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update product</title>
</head>
<body>
    <form method="post" action="/product/api/updateProduct/<%= product._id %>" enctype="multipart/form-data">
    <input value="<%= product.name %>" name="name" />
    <input value="<%= product.price %>" name="price"/>
    <img src='/images/<%= product.image%>' width="200px" height="200px" />
    <input type="file" value="upload" name="image" />
    <button type="submit">Update</button>
 
    </form>
</body>
</html>